
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif
}

body {
    background: #042a47c9;
    color: #f1f1f1;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display:flex ;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
 }

 .logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar  a {
     font-size: 18px;
     color: #ededed;
     text-decoration: none;
     font-weight: 500;
     margin-left: 35px;
}

.navbar a:hover,
.navbar a:active {
    color: #00abf0;
    background-color: aqua;
}

.home {
    height:100vh;
    display: flex;
    padding: 0 10%;
    justify-content:center;
    flex-wrap: nowrap;
    flex-direction: column;
}


.home-contect {
    max-width: 600px;

}


